$contianer:32px 108px;
$subTextColor:#717171;
$textColor:#fff;
@mixin flex($justify,$alignItems,$direction){
    display: flex;
    justify-content:$justify ;
    align-items: $alignItems;
    flex-direction: $direction;
    flex-wrap: wrap;
}
@mixin livePaje{
    color: #417F56;
    font-weight: 700;
    font-family: E-regular;
    border-bottom: $subTextColor solid 1px;
    padding: 2px;
}
@mixin about-item{
    position: relative;
    z-index: 4;
}

main{
    direction: rtl;
    .hero{
        @include flex(space-evenly,center,column );
        header{
            nav{
                @include flex(space-around,center,row);
                padding: $contianer;
                .center-part{
                    ul{
                        @include flex(space-evenly,center,row);
                        width: 808px;
                        height: 33px;
                        .live{
                            @include livePaje;
                        }
                        li{
                            gap: 4px;
                            a{
                                @include flex(center,center,row);
                                font-family: E-regular;
                                color: $subTextColor;
                                font-weight: 400;
                            }
                        }
                    }
                }
                .left-part{
                    svg:nthchild(1){
                        border-radius: 4px;
                        background: var(--green-green-tint-1, #E5F2E9);
                    }
                }    
            }
            .slider{
                width: 100vw;
                height: 336px;
                @include flex(center,center,column );
                gap: 40px;
                background-image: url(../image/Slider.png);
                h1{
                    font-family: E-extrabold;
                    color: $textColor;
                    line-height: 140%;
                    font-size: 40px;
                }
                button{
                    width: 184px;
                    height: 40px;
                    padding: 8px 16px;
                    border-radius: 8px;
                    border: none;
                    background:#417F56;
                    color: #FFF;
                    font-family: E-semibold;
                    font-weight: 500;
                    font-size: 16px;
                    cursor: pointer;
                }
            }
        }
        h2{
            font-family: E-regular;
            font-weight: 700;
            margin-top: 37px;
        }
        .meno-contianer{
            @include flex(space-around,center ,row);
            width: 100%;
            margin-top: 150px;
            padding: $contianer;
            .meno{
                height: 160px;
                width: 287px;
                gap: 18px;
                border-radius: 8px;
                border: 1px solid var(--green-primary, #417F56);
                background: var(--green-primary, #417F56);
                box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.10), 0px 4px 4px 0px rgba(0, 0, 0, 0.09), 0px 9px 5px 0px rgba(0, 0, 0, 0.05), 0px 16px 6px 0px rgba(0, 0, 0, 0.01), 0px 25px 7px 0px rgba(0, 0, 0, 0.00);
                img{
                    position: relative;
                    bottom: 130px;
                    left: -9px ;
                }
                .drink{
                    position: relative;
                    bottom: 200px;
                }
                button{
                    width: 145px;
                    height: 48px;
                    padding: 8px 16px;
                    font-size: 20px;
                    font-family: E-regular;
                    font-weight: 400;
                    color: #353535;
                    border: none;
                    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.10), 0px 4px 4px 0px rgba(0, 0, 0, 0.09), 0px 9px 5px 0px rgba(0, 0, 0, 0.05), 0px 16px 6px 0px rgba(0, 0, 0, 0.01), 0px 25px 7px 0px rgba(0, 0, 0, 0.00);
                    border-radius: 4px;
                    background: var(--neutral-e-1-e-1-e-1, #F9F9F9);
                    position: relative;
                    bottom: 130px;
                    right: 60px;
                }
                .drink--button{
                    position: relative;
                    bottom: 180px;
                }
            }
        }

    }
    .content{
        @include flex(center,center ,column );
        .aboutContianer{
            width: 100vw;
            height: 390px;
            @include flex(space-around,center ,row);
            margin-top: 80px;
            padding: 48px 7.5%;
            
            color: #fff;
            background-image: url(../image/about.png);
            .aboutContianer__rightPaet{
                width: 570px;
                height: 294px;
                @include flex(space-evenly,flex-start,column );
                h2{
                    font-family: E-bold;
                }
                p{
                    font-family: E-regular;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 180%;
                }
                button{
                    width: 184px;
                    height: 40px;
                    background-color: #ffffff00;
                    color: #fff;
                    padding: 8px 16px;
                    border-radius: 4px;
                    border: 1px solid #FFF;
                    align-self: flex-end;
                    @include flex(center,center,row );
                    font-family: E-regular;
                    font-size: 16px;
                    font-weight: 500;

                }
            }
            .aboutContianer__leftPart{
                width: 33vw;
                @include flex(center,center,row);
                gap: 24px;
                .aboutContianer__leftPart--items{
                    width: 184px;
                    height: 136px;
                    @include flex(space-evenly,center,column);
                    font-family:E-regular;
                    font-size: 18px;
                    font-weight: 400;
                }
            }

        }
        .cards-main-titel{
            font-family: E-bold;
            font-weight: 700;
            margin-top: 80px;
            color: #353535;
        }
        .cardCotianer{
            width: 100%;
            @include flex(space-evenly,center ,row );
            .cardCotianer__cards{
                width: 288px;
                height: 344px;
                margin-top: 50px;
                border-radius: 8px;
                border: 1px solid var(--neutral-cbcbcb, #CBCBCB);
                background: var(--neutral-white, #FFF);
            }
        }
    }
}